<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quadrotor">

  <xacro:include filename="robot_params.xacro" />

  <gazebo>
    <plugin filename="libignition-gazebo6-joint-state-publisher-system.so"
            name="ignition::gazebo::systems::JointStatePublisher">
      <topic>joint_states</topic>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="libignition-gazebo6-odometry-publisher-system.so"
            name="ignition::gazebo::systems::OdometryPublisher">
      <odom_topic>odom</odom_topic>
      <odom_frame>odom</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <dimensions>3</dimensions>
      <odom_publish_frequency>100</odom_publish_frequency>
      <tf_topic>tf</tf_topic>
    </plugin>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
      <plugin filename="libignition-gazebo6-imu-system.so" name="ignition::gazebo::systems::Imu"/>
      <pose>0 0 0 0 0 0</pose>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean> 0.001 </mean>
            <stddev> 0.005 </stddev>
          </rate>
          <accel>
            <mean> 0.005 </mean>
            <stddev> 0.05 </stddev>
          </accel>
        </noise>
      </imu>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="libignition-gazebo6-multicopter-motor-model-system.so"
            name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>quadrotor</robotNamespace>
      <jointName>rotor_0_joint</jointName>
      <linkName>rotor_0</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>${time_constant_up}</timeConstantUp>
      <timeConstantDown>${time_constant_down}</timeConstantDown>
      <maxRotVelocity>${omega_max}</maxRotVelocity>
      <motorConstant>${k_F}</motorConstant>
      <momentConstant>${k_M}</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <motorNumber>0</motorNumber>
      <rotorDragCoefficient>${rotorDragCoefficient}</rotorDragCoefficient>
      <rollingMomentCoefficient>${rollingMomentCoefficient}</rollingMomentCoefficient>
      <motorSpeedPubTopic>motor_speed/0</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>${rotorVelocitySlowdownSim}</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="libignition-gazebo6-multicopter-motor-model-system.so"
            name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>quadrotor</robotNamespace>
      <jointName>rotor_1_joint</jointName>
      <linkName>rotor_1</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>${time_constant_up}</timeConstantUp>
      <timeConstantDown>${time_constant_down}</timeConstantDown>
      <maxRotVelocity>${omega_max}</maxRotVelocity>
      <motorConstant>${k_F}</motorConstant>
      <momentConstant>${k_M}</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <motorNumber>1</motorNumber>
      <rotorDragCoefficient>${rotorDragCoefficient}</rotorDragCoefficient>
      <rollingMomentCoefficient>${rollingMomentCoefficient}</rollingMomentCoefficient>
      <motorSpeedPubTopic>motor_speed/1</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>${rotorVelocitySlowdownSim}</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="libignition-gazebo6-multicopter-motor-model-system.so"
            name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>quadrotor</robotNamespace>
      <jointName>rotor_2_joint</jointName>
      <linkName>rotor_2</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>${time_constant_up}</timeConstantUp>
      <timeConstantDown>${time_constant_down}</timeConstantDown>
      <maxRotVelocity>${omega_max}</maxRotVelocity>
      <motorConstant>${k_F}</motorConstant>
      <momentConstant>${k_M}</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <motorNumber>2</motorNumber>
      <rotorDragCoefficient>${rotorDragCoefficient}</rotorDragCoefficient>
      <rollingMomentCoefficient>${rollingMomentCoefficient}</rollingMomentCoefficient>
      <motorSpeedPubTopic>motor_speed/2</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>${rotorVelocitySlowdownSim}</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="libignition-gazebo6-multicopter-motor-model-system.so"
            name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>quadrotor</robotNamespace>
      <jointName>rotor_3_joint</jointName>
      <linkName>rotor_3</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>${time_constant_up}</timeConstantUp>
      <timeConstantDown>${time_constant_down}</timeConstantDown>
      <maxRotVelocity>${omega_max}</maxRotVelocity>
      <motorConstant>${k_F}</motorConstant>
      <momentConstant>${k_M}</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <motorNumber>3</motorNumber>
      <rotorDragCoefficient>${rotorDragCoefficient}</rotorDragCoefficient>
      <rollingMomentCoefficient>${rollingMomentCoefficient}</rollingMomentCoefficient>
      <motorSpeedPubTopic>motor_speed/3</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>${rotorVelocitySlowdownSim}</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
  </gazebo>

</robot>