<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="mass" value="1.5"/>          
  <xacro:property name="gravity" value="9.81"/>      
  <xacro:property name="k_F" value="8.54858e-06"/>   
  <xacro:property name="k_M" value="0.06"/>      
  <xacro:property name="time_constant_up" value="0.0125"/>   
  <xacro:property name="time_constant_down" value="0.025"/>   
  <xacro:property name="rotorDragCoefficient" value="8.06428e-05"/>  
  <xacro:property name="rollingMomentCoefficient" value="8.06428e-05"/> 
  <xacro:property name="rotorVelocitySlowdownSim" value="20"/> 
  <xacro:property name="omega_max" value="1500"/>

</robot>
